{% extends "layout.html" %}

{% from '_formhelpers.html' import render_field %}

{% block body %}
    <form action="{% if edit %}
    {{ url_for('edit_group', grp_id=grp_id)}}{% else %}
    {{ url_for( 'create_group') }}{% endif %}"
          method="POST">
        {{ render_field(form.grp_name) }}
        <div class="input">
            <input type="submit" name="submit" class="btn"
                   value="{% if edit %}Edit{% else %}Create{% endif %}" />
        </div>
    </form>

    <div style="margin-top: 20px">{% if edit %}<form action="{{ url_for('add_member', grp_id=grp_id) }}"
          method="POST">
            {{ render_field(member_form.email) }}
    <div class="input">
            <input type="submit" name="submit" class="btn" value="Add"/>
        </div>
          </form>{% endif %}</div>

    <div style="margin-top: 30px"><h4>Members</h4>
    {% if members %}
        {% set sno=1 %}
        {% for member in members %}
            {{ sno }}.
            {{ member.nickname }}
            {% set sno=sno+1 %}
        {% endfor %}
    {% else %}
        {% if not edit %}
            <p>Create your group first!</p>
        {% else %}
            <p>No members yet!</p>
        {% endif %}
    {% endif %}</div>
{% endblock %}